<blockquote>
  <p><%= confirm_icon(comment) %> <%= comment.body %> - <strong><%= comment.user.name %></strong> <%= comment.created_at %><%= confirmed_at(comment) %></p>
  <%= confirm_comment_link(comment) %>
</blockquote>