<blockquote>
  <p><%= answer_body(answer) %> - <strong><%= answer.user.name %></strong> <%= time_ago_in_words(answer.created_at) %></p>
  <p><%= render partial: 'comments/comment', collection: answer.comments %></p>
  <p><%= link_to 'Предложить правку', new_question_answer_comment_path(answer.question, answer) %></p>
</blockquote>